﻿@charset 'UTF-8';


/*	==========================================================================
	Custom Styles
	==========================================================================	*/

.tmnt-target {
	min-width: 20vw;
	width: 100%;
	padding: 70px 0;
	text-align: center;
}

.its-pizza-time {
	margin: 0 auto;
	width: auto;
	min-height: 288px;
	max-height: 65vh;
}


/*	==========================================================================
	jQuery Mobile Overrides
	==========================================================================	*/

body,
input,
select,
textarea button,
.ui-btn {
	font-family: 'Montserrat', sans-serif;
}

.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper {
	background-color: white;
}

.ui-bar-a,
.ui-page-theme-a .ui-bar-inherit,
html .ui-bar-a .ui-bar-inherit,
html .ui-body-a .ui-bar-inherit,
html body .ui-group-theme-a .ui-bar-inherit {
	border: 0;
	font-weight: normal;
	text-shadow: none;
	background-color: orange;
}

.ui-page-theme-a .ui-btn,
html .ui-bar-a .ui-btn,
html .ui-body-a .ui-btn,
html body .ui-group-theme-a .ui-btn,
html head + body .ui-btn.ui-btn-a,
.ui-page-theme-a .ui-btn:visited,
html .ui-bar-a .ui-btn:visited,
html .ui-body-a .ui-btn:visited,
html body .ui-group-theme-a .ui-btn:visited,
html head + body .ui-btn.ui-btn-a:visited,
.ui-page-theme-a .ui-btn:hover,
html .ui-bar-a .ui-btn:hover,
html .ui-body-a .ui-btn:hover,
html body .ui-group-theme-a .ui-btn:hover,
html head + body .ui-btn.ui-btn-a:hover {
	border-color: lightgreen;
	text-shadow: none;
	background-color: white;
	box-shadow: none;
}

	.ui-page-theme-a .ui-btn.ui-btn-active,
	html .ui-bar-a .ui-btn.ui-btn-active,
	html .ui-body-a .ui-btn.ui-btn-active,
	html body .ui-group-theme-a .ui-btn.ui-btn-active,
	html head + body .ui-btn.ui-btn-a.ui-btn-active,
	.ui-page-theme-a .ui-checkbox-on:after,
	html .ui-bar-a .ui-checkbox-on:after,
	html .ui-body-a .ui-checkbox-on:after,
	html body .ui-group-theme-a .ui-checkbox-on:after,
	.ui-btn.ui-checkbox-on.ui-btn-a:after,
	.ui-page-theme-a .ui-flipswitch-active,
	html .ui-bar-a .ui-flipswitch-active,
	html .ui-body-a .ui-flipswitch-active,
	html body .ui-group-theme-a .ui-flipswitch-active,
	html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active,
	.ui-page-theme-a .ui-slider-track .ui-btn-active,
	html .ui-bar-a .ui-slider-track .ui-btn-active,
	html .ui-body-a .ui-slider-track .ui-btn-active,
	html body .ui-group-theme-a .ui-slider-track .ui-btn-active,
	html body div.ui-slider-track.ui-body-a .ui-btn-active,
	.ui-page-theme-b .ui-btn.ui-btn-active,
	html .ui-bar-b .ui-btn.ui-btn-active,
	html .ui-body-b .ui-btn.ui-btn-active,
	html body .ui-group-theme-b .ui-btn.ui-btn-active,
	html head + body .ui-btn.ui-btn-b.ui-btn-active,
	.ui-page-theme-b .ui-checkbox-on:after,
	html .ui-bar-b .ui-checkbox-on:after,
	html .ui-body-b .ui-checkbox-on:after,
	html body .ui-group-theme-b .ui-checkbox-on:after,
	.ui-btn.ui-checkbox-on.ui-btn-b:after,
	.ui-page-theme-b .ui-flipswitch-active,
	html .ui-bar-b .ui-flipswitch-active,
	html .ui-body-b .ui-flipswitch-active,
	html body .ui-group-theme-b .ui-flipswitch-active,
	html body .ui-flipswitch.ui-bar-b.ui-flipswitch-active,
	.ui-page-theme-b .ui-slider-track .ui-btn-active,
	html .ui-bar-b .ui-slider-track .ui-btn-active,
	html .ui-body-b .ui-slider-track .ui-btn-active,
	html body .ui-group-theme-b .ui-slider-track .ui-btn-active,
	html body div.ui-slider-track.ui-body-b .ui-btn-active {
		border: 0;
		text-shadow: none;
		background-color: green;
		box-shadow: none;
	}

.ui-page-theme-b .ui-btn,
html .ui-bar-b .ui-btn,
html .ui-body-b .ui-btn,
html body .ui-group-theme-b .ui-btn,
html head + body .ui-btn.ui-btn-b,
.ui-page-theme-b .ui-btn:visited,
html .ui-bar-b .ui-btn:visited,
html .ui-body-b .ui-btn:visited,
html body .ui-group-theme-b .ui-btn:visited,
html head + body .ui-btn.ui-btn-b:visited {
	border: 0;
	text-shadow: none;
	background-color: darkgreen;
	box-shadow: none;
}

.ui-header {
	padding: 15px 5px;
}

	.ui-header .ui-btn-left {
		margin-top: 10px;
		border-color: hsla(0, 0%, 0%, 0.2);
		border-radius: 3px;
		background-color: transparent;
	}

	.ui-header .ui-btn,
	.ui-footer .ui-btn {
		font-weight: inherit;
		font-size: inherit;
	}

.ui-content h1,
.ui-content h2,
.ui-content h3 {
	font-weight: normal;
}

.ui-content h1 {
	font-size: 2.0736rem;
}

.ui-content h2 {
	font-size: 1.728rem;
}

.ui-content h3 {
	font-size: 1.44rem;
}

.ui-mobile label {
	font-weight: inherit;
	font-size: inherit;
}

.ui-checkbox .ui-btn,
.ui-radio .ui-btn {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
}


/*	==========================================================================
	Utilities
	==========================================================================	*/

.w-100p {
	width: 100%;
}

.w-95p {
	width: 95%;
}

.w-90p {
	width: 90%;
}

.w-85p {
	width: 85%;
}

.w-80p {
	width: 80%;
}

.w-75p {
	width: 75%;
}

.w-70p {
	width: 70%;
}

.w-65p {
	width: 65%;
}

.w-60p {
	width: 60%;
}

.w-55p {
	width: 55%;
}

.w-50p {
	width: 50%;
}

.w-45p {
	width: 45%;
}

.w-40p {
	width: 40%;
}

.w-35p {
	width: 35%;
}

.w-30p {
	width: 30%;
}

.w-25p {
	width: 25%;
}

.w-20p {
	width: 20%;
}

.w-15p {
	width: 15%;
}

.w-10p {
	width: 10%;
}

.w-5p {
	width: 5%;
}

.nowrap {
	white-space: nowrap;
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

.clear {
	clear: both;
}

.d-block {
	display: block;
}

.d-inline {
	display: inline;
}

.d-inline-block {
	display: inline-block;
}

.d-none {
	display: none;
}

.hidden {
	display: none !important;
}

.hide-text {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
}

	.sr-only.focusable:active,
	.sr-only.focusable:focus {
		position: absolute !important;
		width: auto;
		height: auto;
		overflow: visible;
		margin: 0;
		clip: auto;
	}

	.sr-only + button,
	.sr-only + html input,
	.sr-only + select,
	.sr-only + textarea {
		margin-top: 0;
	}

.opaque {
	opacity: 1;
}

.translucent-95p {
	opacity: .95;
}

.translucent-90p {
	opacity: .9;
}

.translucent-85p {
	opacity: .85;
}

.translucent-80p {
	opacity: .8;
}

.translucent-75p {
	opacity: .75;
}

.translucent-70p {
	opacity: .7;
}

.translucent-65p {
	opacity: .65;
}

.translucent-60p {
	opacity: .6;
}

.translucent-55p {
	opacity: .55;
}

.translucent-50p {
	opacity: .5;
}

.translucent-45p {
	opacity: .45;
}

.translucent-40p {
	opacity: .4;
}

.translucent-35p {
	opacity: .35;
}

.translucent-30p {
	opacity: .3;
}

.translucent-25p {
	opacity: .25;
}

.translucent-20p {
	opacity: .2;
}

.translucent-15p {
	opacity: .15;
}

.translucent-10p {
	opacity: .1;
}

.translucent-5p {
	opacity: .05;
}

.transparent {
	opacity: 0;
}

.invisible {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

.hyphenate {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

.sub,
.sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

.sub,
.sup {
	top: -4px;
	top: -.25rem;
}

.fnt-italic {
	font-style: italic;
}

.fnt-smallcaps {
	font-variant: small-caps;
}

.fnt-thin {
	font-weight: 100;
}

.fnt-xlight {
	font-weight: 200;
}

.fnt-light {
	font-weight: 300;
}

.fnt-normal {
	font-weight: 400;
}

.fnt-medium {
	font-weight: 500;
}

.fnt-semibold {
	font-weight: 600;
}

.fnt-bold {
	font-weight: 700;
}

.fnt-xbold {
	font-weight: 800;
}

.fnt-black {
	font-weight: 900;
}

.fnt-5xl {
	font-size: 57.33089px;
	font-size: 3.58318rem;
}

.fnt-4xl {
	font-size: 47.77574px;
	font-size: 2.98598rem;
}

.fnt-3xl {
	font-size: 39.81312px;
	font-size: 2.48832rem;
}

.fnt-2xl {
	font-size: 33.1776px;
	font-size: 2.0736rem;
}

.fnt-xl {
	font-size: 27.648px;
	font-size: 1.728rem;
}

.fnt-l {
	font-size: 23.04px;
	font-size: 1.44rem;
}

.fnt-m {
	font-size: 19.2px;
	font-size: 1.2rem;
}

.fnt-base {
	font-size: 16px;
	font-size: 1rem;
}

.fnt-s {
	font-size: 13.33333px;
	font-size: .83333rem;
}

.fnt-xs {
	font-size: 11.11111px;
	font-size: .69444rem;
}

.fnt-2xs {
	font-size: 9.25926px;
	font-size: .5787rem;
}

.lineheight-xl {
	line-height: 2.48832;
}

.lineheight-l {
	line-height: 2.0736;
}

.lineheight-m {
	line-height: 1.728;
}

.lineheight-base {
	line-height: 1.44;
}

.lineheight-s {
	line-height: 1.2;
}

.lineheight-xs {
	line-height: 1;
}

.txt-capitalize {
	text-transform: capitalize;
}

	.txt-capitalize:first-letter {
		text-transform: uppercase;
	}

.txt-lowercase {
	text-transform: lowercase;
}

.txt-uppercase {
	text-transform: uppercase;
}

.txt-underline {
	text-decoration: underline;
}

.txt-nounderline {
	text-decoration: none;
}

.pos-rel {
	position: relative;
}

.pos-abs {
	position: absolute;
}

.pos-abs-tr {
	top: 0;
	right: 0;
}

.pos-abs-center {
	left: 50%;
	-webkit-transform: translate(-50%);
	-ms-transform: translate(-50%);
	transform: translate(-50%);
}

.flush {
	margin: 0;
}

.flush-t {
	margin-top: 0;
}

.flush-r {
	margin-right: 0;
}

.flush-b {
	margin-bottom: 0;
}

.flush-l {
	margin-left: 0;
}

.flush-tb {
	margin-top: 0;
	margin-bottom: 0;
}

.flush-rl {
	margin-right: 0;
	margin-left: 0;
}

.push-soft {
	margin: 5px;
	margin: .3125rem;
}

.push-soft-t {
	margin-top: 5px;
	margin-top: .3125rem;
}

.push-soft-r {
	margin-right: 5px;
	margin-right: .3125rem;
}

.push-soft-b {
	margin-bottom: 5px;
	margin-bottom: .3125rem;
}

.push-soft-l {
	margin-left: 5px;
	margin-left: .3125rem;
}

.push-soft-tb {
	margin-top: 5px;
	margin-top: .3125rem;
	margin-bottom: 5px;
	margin-bottom: .3125rem;
}

.push-soft-rl {
	margin-right: 5px;
	margin-right: .3125rem;
	margin-left: 5px;
	margin-left: .3125rem;
}

.push-soft2x {
	margin: 10px;
	margin: .625rem;
}

.push-soft2x-t {
	margin-top: 10px;
	margin-top: .625rem;
}

.push-soft2x-r {
	margin-right: 10px;
	margin-right: .625rem;
}

.push-soft2x-b {
	margin-bottom: 10px;
	margin-bottom: .625rem;
}

.push-soft2x-l {
	margin-left: 10px;
	margin-left: .625rem;
}

.push-soft2x-tb {
	margin-top: 10px;
	margin-top: .625rem;
	margin-bottom: 10px;
	margin-bottom: .625rem;
}

.push-soft2x-rl {
	margin-right: 10px;
	margin-right: .625rem;
	margin-left: 10px;
	margin-left: .625rem;
}

.push-soft3x {
	margin: 15px;
	margin: .9375rem;
}

.push-soft3x-t {
	margin-top: 15px;
	margin-top: .9375rem;
}

.push-soft3x-r {
	margin-right: 15px;
	margin-right: .9375rem;
}

.push-soft3x-b {
	margin-bottom: 15px;
	margin-bottom: .9375rem;
}

.push-soft3x-l {
	margin-left: 15px;
	margin-left: .9375rem;
}

.push-soft3x-tb {
	margin-top: 15px;
	margin-top: .9375rem;
	margin-bottom: 15px;
	margin-bottom: .9375rem;
}

.push-soft3x-rl {
	margin-right: 15px;
	margin-right: .9375rem;
	margin-left: 15px;
	margin-left: .9375rem;
}

.push-hard {
	margin: 20px;
	margin: 1.25rem;
}

.push-hard-t {
	margin-top: 20px;
	margin-top: 1.25rem;
}

.push-hard-r {
	margin-right: 20px;
	margin-right: 1.25rem;
}

.push-hard-b {
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
}

.push-hard-l {
	margin-left: 20px;
	margin-left: 1.25rem;
}

.push-hard-tb {
	margin-top: 20px;
	margin-top: 1.25rem;
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
}

.push-hard-rl {
	margin-right: 20px;
	margin-right: 1.25rem;
	margin-left: 20px;
	margin-left: 1.25rem;
}

.push-hard2x {
	margin: 40px;
	margin: 2.5rem;
}

.push-hard2x-t {
	margin-top: 40px;
	margin-top: 2.5rem;
}

.push-hard2x-r {
	margin-right: 40px;
	margin-right: 2.5rem;
}

.push-hard2x-b {
	margin-bottom: 40px;
	margin-bottom: 2.5rem;
}

.push-hard2x-l {
	margin-left: 40px;
	margin-left: 2.5rem;
}

.push-hard2x-tb {
	margin-top: 40px;
	margin-top: 2.5rem;
	margin-bottom: 40px;
	margin-bottom: 2.5rem;
}

.push-hard2x-rl {
	margin-right: 40px;
	margin-right: 2.5rem;
	margin-left: 40px;
	margin-left: 2.5rem;
}

.push-hard3x {
	margin: 60px;
	margin: 3.75rem;
}

.push-hard3x-t {
	margin-top: 60px;
	margin-top: 3.75rem;
}

.push-hard3x-r {
	margin-right: 60px;
	margin-right: 3.75rem;
}

.push-hard3x-b {
	margin-bottom: 60px;
	margin-bottom: 3.75rem;
}

.push-hard3x-l {
	margin-left: 60px;
	margin-left: 3.75rem;
}

.push-hard3x-tb {
	margin-top: 60px;
	margin-top: 3.75rem;
	margin-bottom: 60px;
	margin-bottom: 3.75rem;
}

.push-hard3x-rl {
	margin-right: 60px;
	margin-right: 3.75rem;
	margin-left: 60px;
	margin-left: 3.75rem;
}

.pull-soft {
	margin: -5px;
	margin: -.3125rem;
}

.pull-soft-t {
	margin-top: -5px;
	margin-top: -.3125rem;
}

.pull-soft-r {
	margin-right: -5px;
	margin-right: -.3125rem;
}

.pull-soft-b {
	margin-bottom: -5px;
	margin-bottom: -.3125rem;
}

.pull-soft-l {
	margin-left: -5px;
	margin-left: -.3125rem;
}

.pull-soft-tb {
	margin-top: -5px;
	margin-top: -.3125rem;
	margin-bottom: -5px;
	margin-bottom: -.3125rem;
}

.pull-soft-rl {
	margin-right: -5px;
	margin-right: -.3125rem;
	margin-left: -5px;
	margin-left: -.3125rem;
}

.pull-soft2x {
	margin: -10px;
	margin: -.625rem;
}

.pull-soft2x-t {
	margin-top: -10px;
	margin-top: -.625rem;
}

.pull-soft2x-r {
	margin-right: -10px;
	margin-right: -.625rem;
}

.pull-soft2x-b {
	margin-bottom: -10px;
	margin-bottom: -.625rem;
}

.pull-soft2x-l {
	margin-left: -10px;
	margin-left: -.625rem;
}

.pull-soft2x-tb {
	margin-top: -10px;
	margin-top: -.625rem;
	margin-bottom: -10px;
	margin-bottom: -.625rem;
}

.pull-soft2x-rl {
	margin-right: -10px;
	margin-right: -.625rem;
	margin-left: -10px;
	margin-left: -.625rem;
}

.pull-hard {
	margin: -20px;
	margin: -1.25rem;
}

.pull-hard-t {
	margin-top: -20px;
	margin-top: -1.25rem;
}

.pull-hard-r {
	margin-right: -20px;
	margin-right: -1.25rem;
}

.pull-hard-b {
	margin-bottom: -20px;
	margin-bottom: -1.25rem;
}

.pull-hard-l {
	margin-left: -20px;
	margin-left: -1.25rem;
}

.pull-hard-tb {
	margin-top: -20px;
	margin-top: -1.25rem;
	margin-bottom: -20px;
	margin-bottom: -1.25rem;
}

.pull-hard-rl {
	margin-right: -20px;
	margin-right: -1.25rem;
	margin-left: -20px;
	margin-left: -1.25rem;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.float-none {
	float: none;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}
